*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left, .right{
    width: 30%;
    height: 460px;
    background-color: rgb(59, 58, 58);
    margin: 10px;
    padding: 15px;
}
.left{
    height: fit-content;
}

.blue{
    color: rgb(0, 106, 255);
}
.green{
    color: rgb(39, 210, 0);
}
.reg{
    margin: 2px 0;
    color: white;
}
.wide{
    width: 100%;
    height: 35px;
    border-radius: 10px;
}
.regbtn{
    margin: 8px 0;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(0, 106, 255);
}
.logbtn{
    margin: 8px 0; 
    width: 100px;
    font-weight: 600;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(39, 210, 0);
}
.welcome{
    margin: 15px;
}
a:link{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
a:visited{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}